# =========================
# Servidor Web
# =========================
Flask
gunicorn

# =========================
# Base de Datos
# =========================
SQLAlchemy
psycopg2-binary

# =========================
# Seguridad y Autenticación
# =========================
Flask-JWT-Extended
passlib[bcrypt]  # Recomendado usar bcrypt como algoritmo seguro

# =========================
# Utilidades
# =========================
python-dotenv
requests